// Example web font usage
@font-face {
  /*font-family: 'AndaleMono';
  src: url('./fonts/AndaleMono.eot');
  src: url('./fonts/AndaleMono.eot') format('embedded-opentype'),
  url('./fonts/AndaleMono.woff2') format('woff2'),
  url('./fonts/AndaleMono.woff') format('woff'),
  url('./fonts/AndaleMono.svg') format('svg'),
  url('./fonts/AndaleMono.ttf') format('truetype');
  // font-weight: bold;
  font-style: normal;*/
}